
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
  </head>

  <body>
      <span>Bookers</span>

    <nav>
      <ul>
          <li><a> Home</a></li>
          <li><a> About</a></li>
          <li><a> sign up</a></li>
          <li><a> login</a></li>
      </ul>
    </nav>



    <h1>welcome to <strong>Bookers</strong>  !!</h1>

    <p>CopyRight Infratop.inc</p>



  </body>
</html>
