
<P class= "notice"><%= flash[:notice] %></P>
<div class="col-xs-12">
  <div class="col-xs-6 col-xs-offset-3">
      <h1>welcome to <span class='glyphicon glyphicon-book'></span><strong>Bookers</strong>  !!</h1>
            <p>In <span class='glyphicon glyphicon-book'></span><strong>Bookers</strong>, </p>
            <p>you can share and exchange  your opinions , inpressions , and emotions</p>
            <p> about varioius books!</p>
  </div>


    <%= link_to 'login', user_session_path,class: "btn btn-info col-xs-6 col-xs-offset-3 sign_in" %>
    <%= link_to 'sign up', new_user_registration_path,class: "btn btn-success col-xs-6 col-xs-offset-3 sign_up" %>
</div>


